$o-community-color: #171718;
$app-menu-background-color: #4A4B4D;
$app-menu-text-color: #FFFFFF;
$o-webclient-background-color: #F5F7FA;
$nav-tabs-link-active-color: #4A4B4D;
$nav-tabs-link-active-bg: #F9D812;
$nav-tabs-link-active-border-color: #F9D812;